<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/cabecera_fija.css}">
    <link rel="stylesheet" th:href="@{/css/listas.css}">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" type="text/javascript">
    </script>
    <title>Listado de Usuarios</title>
</head>

<body>

<header class="header">
    <div class="container logo-nav-container">
        <a href="#" class="logo"> <img th:src="@{/images/logo_negro_pequeño.png}"> </a>
        <span class="menu-icon"><i class="fa fa-bars"></i></span>
        <nav class="navigation">
            <ul id="capa">
                <li><a th:href="@{/cliente/listaclientes}">Clientes</a></li>
                <li><a th:href="@{/datosbiometricos/listadatosbio}">Datos biométricos</a></li>
                <li><a th:href="@{/catalogo/listacatalogo}">Catálogo</a></li>
                <li><a th:href="@{/usuarios/datosUsuario}">Mi perfil</a></li>
                <li><a th:href="@{/index}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<main class="main">
    <div class="container">
        <form action="#" th:action="@{/}" method="post">
            <div class="tabla-lista">
                <div class="nombre-seccion">
                    <h2>USUARIOS</h2>
                </div>
                <div class="tabla-lista">
                    <table class="lista">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Email</th>
                            <th>Direccion</th>
                            <th>Direccion</th>
                            <th>Fecha de creación</th>
                            <th>Fecha de modificación</th>
                            <th>Botón editar</th>
                            <th>¿Eliminar?</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="elemento , posicion : ${lista}">
                            <td th:text="${elemento.nombre}"></td>
                            <td th:text="${elemento.apellidos}"></td>
                            <td th:text="${elemento.email}"></td>
                            <td th:text="${elemento.direccion}"></td>
                            <td th:text="${elemento.fechaCreacion}"></td>
                            <td th:text="${elemento.fechaModif}"></td>
                            <td>
                                <a class="boton-detalles" th:href="@{'/datosUsuario/'+ ${elemento.id}}">Detalles</a>
                            </td>
                            <td>
                                <button class="boton-eliminar" type="submit" value="Eliminar"
                                        th:formaction="'/datosUsuario/'+ ${elemento.id} +'/delete'">Eliminar</button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr th:if="${lista ==null or  lista.empty}">
                            <td colspan="13" class="no-datos">No hay datos</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </form>
    </div>
    <div th:if="${lista!=null and !lista.empty}">
        <div class="paginacion">
            <nav>
                <ul class="paginacion1" sd:pagination="full">
                    <div th:if="${lista.totalPages > 0}" class="paginacion1" th:each="pageNumber : ${pageNumbers}">
                        <li th:class="${pageNumber==lista.number + 1} ? active">
                            <a href="#" th:href="@{/datosUsuario(size=${lista.size}, page=${pageNumber})}"
                               th:text=${pageNumber}></a>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
    </div>
</main>

<footer class="footer">
    <div class="container">
        <p>Todos los derechos reservados - BELORAN SPORT (B&S)</p>
    </div>
</footer>

<script th:src="@{/css/script2.js}"></script>

</body>

</html>