<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <!-- AppUsuariosController // vistaRegistro -->
</head>
<body>
<div layout:fragment="cabecera">
    <h1>Estas en la lista de clientes</h1>
</div>
<div layout:fragment="contenido">
    <form action="#" th:action="@{/}" method="post">
        <div class="table-responsive">
            <!-- Opcion 1 : tabla con contenido ( recomandable en caso de listas-->
            <table class="table table-bordered table-hover">
                <tr>
                    <th>nombre</th>
                    <th>apellidos</th>
                    <th>direccion</th>
                    <th>ciudad</th>
                    <th>provincia</th>
                    <th>email</th>
                    <th>username</th>
                    <th>fotoPerfil</th>
                    <th>fechaCreacion</th>
                    <th>fechaModificacion</th>
                    <th>&nbsp</th>
                    <th>&nbsp</th>
                </tr>
                <tr th:each="elemento , posicion : ${listausuarios}">
                    <td th:text="${elemento.nombre}"></td>
                    <td th:text="${elemento.apellidos}"></td>
                    <td th:text="${elemento.direccion}"></td>
                    <td th:text="${elemento.ciudad}"></td>
                    <td th:text="${elemento.provincia}"></td>
                    <td th:text="${elemento.email}"></td>
                    <td th:text="${elemento.password}"></td>
                    <td th:text="${elemento.fotoPerfil}"></td>
                    <td th:text="${elemento.fechaCreacion}"></td>
                    <td th:text="${elemento.fechaModificacion}"></td>
                    <td>
                        <!-- meter un link para ver  con texto "ver"-->
                        <a th:href="@{'/usuarios/'+ ${elemento.id}}">Detalles</a>
                    </td>
                    <td>
                        <!-- meter un boton para borrar  con un boton-->
                        <button type="submit" value="Eliminar" th:formaction="'/usuarios/'+ ${elemento.id} +'/delete'">Eliminar</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
</body>
</html>