<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Usuario no encontrado</title>
</head>

<body>
<div class="bg"></div>
<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form class="login">
                <div class="text__field">
                    <p><strong>Ha ocurrido un error.</strong><br>
                    </p><br>
                    <p>Los datos que has introducido<br>
                        no coinciden con ningún usuario<br>
                        registrado en nuestro sistema.
                    </p>
                </div>

                <button class="button login__submit">
                    <span class="button__text"><a th:href="@{/usuarios/login}">Volver a Login</a></span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>
</body>
</html>