<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/cabecera_fija.css}">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
        <title>Productos</title>
    </head>

    <body>
        <header class="header">
            <div class="container logo-nav-container">
                <a th:href="@{/index}" class="logo"> <img th:src="@{/images/logo_negro_pequeño.png}"> </a>
                <span class="menu-icon"><i class="fa fa-bars"></i></span>
                <nav class="navigation">
                    <ul id="capa">
                        <li><a th:href="@{/clientes}">Clientes</a></li>
                        <li><a th:href="@{/entrenadores}">Entrenadores</a></li>
                        <li><a th:href="@{/nutricionistas}">Dietistas</a></li>
                        <li><a th:href="@{/usuarios/datosUsuario}">Mi perfil</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="main">
            <div class="container">
                <hr class="my-4 mt-2 mb-2"/>
                <div class="row mt-3 mb-3 justify-content-around" th:object="${listacatalogo}">
                    <th:block th:each="elemento : ${listacatalogo}">
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <h4 class="card-title" th:text="${elemento.nombre}"></h4>
                                <th:block th:each="tipocatalogo : ${elemento.tipoCatalogo}" >
                                    <span class="badge bg-primary" th:text="${tipocatalogo.nombreTipo}"></span>
                                </th:block>
                                <a th:href="@{'/catalogo/'+ ${elemento.id}}">Ver detalles</a>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="container">
                <p>Todos los derechos reservados - BELORAN SPORT (B&S)</p>
            </div>
        </footer>

        <script th:src="@{/js/script2.js}"></script>
    </body>
</html>