* {
	font-family: Raleway, sans-serif;
    margin: 0;
}

h1{ 
    line-height: 1.3em;
}

.container{
    width:90%;
    max-width: 900px;
    margin: 0 auto;
}

p{
    margin-bottom: 1.6rem;
}


.header{
    background-color: #87C3E3;
    color: #A13149;
    padding: 2rem;
    font-size: 1.0em;
    font-variant: small-caps;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header a{
    color: #A13149;
    text-decoration: none;
    align-items: center;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
    
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover {
    background-color: #bbe8ff;
}

img{
    width: 150px;
}

.main{
    padding-top: 10rem;
}

.footer{
    background-color: #87C3E3;
    padding: 3rem 0;
    text-align: center;
    margin-top: 6rem;
    height: 10px;
    font-size: small;
}

.menu-icon{
    display: none;
}

@media only screen and (max-width:767px) {

    .menu-icon{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    
    .navigation{
        width: 100%;
        margin-top: 1rem;
    }

    .navigation ul{
        display: none;
    }

    .navigation ul.show{
        display: block;
    }

    .navigation ul li {
        display: block;
    }
    
    .navigation ul li a {
        display: block;
        padding: 0.5rem 0rem;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    
    .navigation ul li a:hover {
        background-color: #bbe8ff;
    }
}