<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/cabecera_fija.css}">
        <link rel="stylesheet" th:href="@{/css/login.css}">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
        <title>Acceso denegado</title>
    </head>
    <body>
        <header class="header">
            <div class="container logo-nav-container">
                <a th:href="@{/index}" class="logo"> <img th:src="@{/images/logo_negro_pequeño.png}"> </a>
                <span class="menu-icon"><i class="fa fa-bars"></i></span>
                <nav class="navigation">
                    <ul id="capa">
                        <li><a th:href="@{/clientes}">Clientes</a></li>
                        <li><a th:href="@{/entrenadores}">Entrenadores</a></li>
                        <li><a th:href="@{/nutricionistas}">Dietistas</a></li>
                        <li><a th:href="@{/usuarios/datosUsuario}">Mi perfil</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="main">
            <div class="container">
                <div class="screen">
                    <div class="screen__content">
                        <form class="login">
                            <div class="text__field">
                                <p><strong>El acceso a esta página está restringido.</strong><br>
                                    Por favor, póngase en contacto con el administrador<br>
                                    si esto es un error.
                                </p>
                            </div>

                            <button class="button login__submit">
                                <span class="button__text"><a th:href="@{/}">Volver a inicio</a></span>
                                <i class="button__icon fas fa-chevron-right"></i>
                            </button>
                        </form>
                    </div>
                    <div class="screen__background">
                        <span class="screen__background__shape screen__background__shape4"></span>
                        <span class="screen__background__shape screen__background__shape3"></span>
                        <span class="screen__background__shape screen__background__shape2"></span>
                        <span class="screen__background__shape screen__background__shape1"></span>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="container">
                <p>Todos los derechos reservados - BELORAN SPORT (B&S)</p>
            </div>
        </footer>
    </body>
</html>
