<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cabecera fija</title>
    <link rel="stylesheet" href="cabecera_fija.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script  type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
            <a href="#" class="logo"> <img src="logo_negro_pequeño.png"> </a>
            <span class="menu-icon"><i class="fa fa-bars"></i></span>
            <nav class="navigation">
                <ul id="capa">
                    <li><a href="#">Clientes</a></li>
                    <li><a href="#">Entrenadores</a></li>
                    <li><a href="#">Dietistas</a></li>
                    <li><a href="#">Mi perfil</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <!-- Aquí es donde habría que incluir el texto de cada página -->
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p>Todos los derechos reservados - BELORAN SPORT (B&S)</p>
        </div>
    </footer>

    <script src="script2.js"></script>
</body>
</html>