<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/cabecera_fija.css}">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
        <title>Home</title>
    </head>
    <body>
        <header class="header">
            <div class="container logo-nav-container">
                <a th:href="@{/index}" class="logo"> <img th:src="@{/images/logo_negro_pequeño.png}"> </a>
                <span class="menu-icon"><i class="fa fa-bars"></i></span>
                <nav class="navigation">
                    <ul id="capa">
                        <li><a th:href="@{/usuarios/login}">Iniciar sesión</a></li>
                        <li><a th:href="@{/usuarios/registro}">Registrarse</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="main">
            <div class="container">
                <h4><p style="text-align: center">Bienvenido a nuestro gestor de gimnasios</p></h4>
            </div>
        </main>

        <footer class="footer">
            <div class="container">
                <p>Todos los derechos reservados - BELORAN SPORT (B&S)</p>
            </div>
        </footer>

        <script th:src="@{/js/script2.js}"></script>
    </body>
</html>