<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sd="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="cabecera_fija.css">
    <link rel="stylesheet" href="video_index.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <title>Home</title>
</head>

<body>
    <header class="header">
        <div class="container logo-nav-container">
            <a href="@{/index}" class="logo"> <img src="logo_negro_pequeño.png"> </a>
            <span class="menu-icon"><i class="fa fa-bars"></i></span>
            <nav class="navigation">
                <ul id="capa">
                    <li><a href="@{/usuarios/login}">Iniciar sesión</a></li>
                    <li><a href="@{/usuarios/registro}">Registrarse</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <div class="main-banner" id="top">
                <video autoplay muted loop id="bg-video">
                    <source src="gym-video.mp4" type="video/mp4" />
                </video>
                <div class="video-overlay header-text">
                    <div class="caption">
                        <h6>Gestiona a tus clientes y tu equipo en un solo lugar</h6>
                        <h2>Trabaja con <em>nosotros</em></h2>
                        <div class="main-button scroll-to-section">
                            <a class="haztemiembro" href="#">Hazte miembro</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <section id="calendario" class="calendario">
        <div class="container">

            <div class="nombre-seccion">
                <h2>Calendario de Sesiones</h2>
            </div>
            <div class="tabla-horario">
                <table class="horario">
                    <thead>
                        <tr>
                            <th>HORARIO</th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miércoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10:00 - 11:30</td>
                            <td>
                                <span>Crossfit</span><br>
                                <a href="#sergio_lopez">(Sergio Lopez)</a>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <span>Crossfit</span><br>
                                <a href="#sergio_lopez">(Sergio Lopez)</a>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>12:00 - 13:30</td>
                            <td></td>
                            <td>
                                <span>Cardiobox</span><br>
                                <a href="#jaime_sotos">(Jaime Sotos)</a>
                            </td>
                            <td>
                                <span>Zumba</span><br>
                                <a href="#maria_gomez">(María Gómez)</a>
                            </td>
                            <td></td>
                            <td>
                                <span>Zumba</span>
                                <a href="#maria_gomez">(María Gómez)</a>
                            </td>
                        </tr>
                        <tr>
                            <td>15:00 - 16:30</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <span>Spinning</span><br>
                                <a href="#andrea_salinas">(Andrea Salinas)</a>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>17:00 - 18:30</td>
                            <td>
                                <span>Body Building</span><br>
                                <a href="#fernando_alonso">(Fernando Alonso)</a>
                            </td>
                            <td></td>
                            <td>
                                <span>Body Building</span><br>
                                <a href="#fernando_alonso">(Fernando Alonso)</a>
                            </td>
                            <td></td>
                            <td>
                                <span>Cardiobox</span><br>
                                <a href="#jaime_sotos">(Jaime Sotos)</a>
                            </td>
                        </tr>
                        <tr>
                            <td>19:00 - 20:30</td>
                            <td></td>
                            <td>
                                <span>Spinning</span><br>
                                <a href="#andrea_salinas">(Andrea Salinas)</a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        </div>
        </div>
    </section>

    <section class="entrenadores">
        <div class="container">

            <div class="nombre-seccion">
                <h2>Entrenadores</h2>
            </div>

            <div class="entrenadores">
                <ul class="capa">
                    <li>
                        <div id="sergio_lopez" class="imagen">
                            <img src="sergio_lopez.jpg">
                        </div>
                        <div class="texto-imagen">
                            <p class="nombre_entrenador"><b>Sergio Lopez</b> <a href="#calendario"><i
                                        class="icono fa fa-arrow-up"></i></a></p>
                            <p class="descripcion-entrenador">Graduado en CAFyD, profesional con más de 15 años de
                                experiencia en el sector y apasionado por la enseñanza.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div id="jaime_sotos" class="imagen">
                            <img src="jaime_sotos.jpg">
                        </div>
                        <div class="texto-imagen">
                            <p class="nombre_entrenador"><b>Jaime Sotos</b> <a href="#calendario"><i
                                        class="icono fa fa-arrow-up"></i></a></p>
                            <p class="descripcion-entrenador">Técnico Superior Administrativo, pero su pasión por el
                                deporte lo convirtió en un gran entrenador, destacado por sus nuevas metodologías y por
                                proporcionar diversión a sus clases.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div id="fernando_alonso" class="imagen">
                            <img src="fernando_alonso.jpg">
                        </div>
                        <div class="texto-imagen">
                            <p class="nombre_entrenador"><b>Fernando Alonso</b> <a href="#calendario"><i
                                        class="icono fa fa-arrow-up"></i></a></p>
                            <p class="descripcion-entrenador">Desde muy jovencito es un apasionado del deporte y el
                                fitness, así que si quieres un entrenador pasional este es el ideal.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div id="maria_gomez" class="imagen1">
                            <img src="maria_gomez.jpg">
                        </div>
                        <div class="texto-imagen">
                            <p class="nombre_entrenador"><b>María Gómez</b> <a href="#calendario"><i
                                        class="icono fa fa-arrow-up"></i></a></p>
                            <p class="descripcion-entrenador">Mujer activa que dedica su tiempo libre a coreografiar los
                                nuevos hits del mercado. Sin duda, te lo pasarás muy bien en su clase de zumba.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div id="andrea_salinas" class="imagen">
                            <img src="andrea_salinas.jpeg">
                        </div>
                        <div class="texto-imagen">
                            <p class="nombre_entrenador"><b>Andrea Salinas</b> <a href="#calendario"><i
                                        class="icono fa fa-arrow-up"></i></a></p>
                            <p class="descripcion-entrenador">Actívate con las sesiones de spinning que ofrece Andrea y
                                conseguirás los resultados que quieres antes de lo que crees.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="entrenadores">
        <div class="container">

            <div class="nombre-seccion">
                <h2>Dietistas</h2>
            </div>

            <div class="entrenadores">
                <ul class="capa">
                    <li>
                        <div id="sergio_lopez" class="imagen">
                            <img src="carlos_rios.jpg">
                        </div>
                        <div class="texto-imagen">
                            <p class="nombre_entrenador"><b>Carlos Ríos</b></p>
                            <p class="descripcion-entrenador">Este andaluz estudió Nutrición Humana y Dietética en la universidad Pablo de Olavide de Sevilla. Y de ahí a gurú de la comida real, influencer del buen comer y abanderado de las recetas de siempre.
                            </p>
                        </div>
                    </li>

            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <p>Todos los derechos reservados - BELORAN SPORT (B&S)</p>
        </div>
    </footer>

    <script src="script2.js"></script>
</body>

</html>