<!--
<head th:insert="layout.html::head"></head>
<body>
    <div th:insert="layout.html::preloader"></div>
    <header th:insert="layout.html::header"></header>
    <div th:insert="layout.html::index"></div>
    <div class="container-xxl py-5">
        <div layout:fragment="cabecera">
          <h1>Bienvenido al Home</h1>
        </div>
        <div layout:fragment="contenido">
          <h2>Este es nuestro contenido</h2>
        </div>
    </div>
    <footer th:insert="layout.html::footer"></footer>
    <section th:insert="layout.html::script"></section>
</body>
-->