<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/css/welcome.css}">
        <title>Bienvenido/a</title>
    </head>

    <body>
        <div class="logo"><img th:src="@{/images/logo_negro_pequeño.png}"></div>
        <div class="titulo_pagina">
            <h1>Bienvenido/a a tu página principal</h1>
        </div>
        <div class="enlaces">
            <ul class="capa">
                <li>
                    <a th:href="@{/usuarios/listausuariospagina}">
                        <img th:src="@{/images/users.png}">
                        <p>Clientes</p>
                    </a>
                </li>

                <li>
                    <a th:href="@{/listadatosbio}">
                        <img th:src="@{/images/combo_chart.png}">
                        <p>Datos biométricos</p>
                    </a>
                </li>

                <li>
                    <a th:href="@{datosUsuario}">
                        <img th:src="@{/images/person.png}">
                        <p>Mi perfil</p>
                    </a>
                </li>
            </ul>
        </div>
    </body>
</html>