<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="welcome.css">
    <title>Bienvenido/a</title>
</head>

<body>
    <div class="logo"><img src="logo_negro_pequeño.png"></img></div>
    <div class="titulo_pagina">
        <h1>Bienvenido/a a tu página principal</h1>
    </div>
    <div class="enlaces">
        <ul class="capa">
            <li>
                <a href="#">
                    <img src="users.png">
                    <p>Clientes</p>
                </a>
            </li>

            <li>
                <a href="#">
                    <img src="dumbbell.png">
                    <p>Entrenadores</p>
                </a>
            </li>

            <li>
                <a href="#">
                    <img src="healthy_eating.png">
                    <p>Dietistas</p>
                </a>
            </li>

            <li>
                <a href="#">
                    <img src="combo_chart.png">
                    <p>Datos biométricos</p>
                </a>
            </li>

            <li>
                <a href="#">
                    <img src="person.png">
                    <p>Mi perfil</p>
                </a>
            </li>
            </u>
    </div>

</body>

</html>